<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <title>Page Title</title>
</head>

<body>
    <section>
        <div class="container-fluid bg-primary mt-5 p-2">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="ch">
                            <button class="btn btn-light text-dark"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-md-2 p-0">
                    <div class="card shadow p-0 mb-5 bg-body-tertiary rounded">
                        <div class="card-body ">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                  Categories
                                </a>
                                <a href="#" th:each = "c:${categories}"
                                class="list-group-item list-group-item-action">[[${c.name}]]</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <p class="fs-3 text-center">Products</p>
                            <div class="row">
                                <div class="col-md-3" th:each="p:${products}">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <img th:src="@{'/images/latest_product/'+${p.productImage}}" alt="" width="50%" height="120px">
                                            <p class="fs-5 text-center">[[${p.productName}]]</p>
                                            <div class="row text-center">
                                                <p class="fs-6 ">
                                                    <span class="fs-6 fw-bold">&#8377;[[${p.discountPrice}]]</span><br>
                                                    <span class="fs-6 text-decoration-line-through text-muted">&#8377;[[${p.productPrice}]]</span>
                                                    <span class="fs-6 fw-bold text-success">[[${p.discount}]]% off</span>
                                                </p>
                                                <a class="btn btn-primary col-md-6 offset-md-3" href="/viewproduct">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO remove this part after backend implmentation -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>