<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
   <head>
      <meta charset="UTF-8">
      <title>My First Webpage</title>
   </head>
   <body>
      <section>
         <div class="container p-5">
            <div class="row">
               <div class="col-md-6 p-6">
                  <img src="images/signup.jpg" width="100%" alt="login" height="700px">
               </div>
               <div class="col-md-5 p-4">
                  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                     <div class="card-header text-center">
                        <p class="fs-4 ">Register</p>
                        <th:block th:if="${session.succMsg}">
                           <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                           <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                           <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                           <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                     </div>
                     <div class="card-body">
                        <form action="/saveuser" method="post" enctype="multipart/form-data">
                           <div class="row">
                              <div class="col">
                                 <label class="form-lable">Full Name</label>
                                 <input class="form-control" name="userName" type="text">
                              </div>
                              <div class="col">
                                 <label class="form-lable">Mobile</label>
                                 <input class="form-control" name="userPhone" type="number">
                              </div>
                           </div>
                           <div class="mb-1">
                              <label class="form-lable">Email</label>
                              <input class="form-control" name="userEmail" type="email">
                           </div>
                           <div class="row">
                              <div class="col">
                                 <label class="form-lable">Address</label>
                                 <input class="form-control" name="userAddress" type="text">
                              </div>
                              <div class="col">
                                 <label class="form-lable">City</label>
                                 <input class="form-control" name="userCity" type="text">
                              </div>
                           </div>
                           <div class="row">
                              <div class="col">
                                 <label class="form-lable">State</label>
                                 <input class="form-control" name="userState" type="text">
                              </div>
                              <div class="col">
                                 <label class="form-lable">PIN Code</label>
                                 <input class="form-control" name="userPIN" type="number">
                              </div>
                           </div>
                           <div class="row">
                              <div class="col">
                                 <label class="form-lable">Password</label>
                                 <input class="form-control" name="userPassword" type="password">
                              </div>
                              <div class="col">
                                 <label class="form-lable">Confirm Password</label>
                                 <input class="form-control" name="cpassword" type="password">
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-lable">Profile Image</label>
                              <input class="form-control" name="profileImage" type="file">
                           </div>
                           <button type="submit" class="btn bg-primary text-white col-md-12">Register</button>
                        </form>
                     </div>
                     <div class="card-footer text-center">
                        have an account ?
                        <a href="/login" class="text-decoration-none">Login</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <h1>
      sign up page
      <h1/>
   </body>
</html>