<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <title>Page Title</title>
</head>

<body>
    <section>
        <div class="container card-sh" style="margin-top: 70px; margin-bottom: 30px;">
                <div class="col-md-12 p-5">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img th:src="@{'/images/latest_product/'+${product.productImage}}" alt="" height="400px" width="400">
                        </div>
                        <div class="col-md-6">
                            <p class="fs-3">[[${product.productName}]]</p>
                            <p>
                                <span class="fw-bold"> Description: </span>
                                <br>[[${product.productDescription}]]
                            </p>
                            <p>
                                <span class="fw-bold"> Product Details: </span>
                                <br>Status: 
                                <th:block th:if="${product.stock>0}">
                                    <span class="badge bg-success">Available</span>
                                </th:block>
                                <th:block th:unless="${product.stock>0}">
                                    <span class="badge bg-warning">Out of stock</span>
                                </th:block>
                                <br>Category: [[${product.productCategory}]]
                                <br>Policy: 7 day Replacement and return.
                            </p>
                            <p class="fs-5 fw-bold">Price: &#8377;[[${product.discountPrice}]]
                                <span class="fs-6 text-decoration-line-through text-secondary">&#8377;[[${product.productPrice}]]</span>
                                <span class="fs-6 text-success">[[${product.discount}]]%off</span>
                            </p>
                            <div class="row">
                                <div class="col-md-4 text-success text-center p-2">
                                    <i class="fa-solid fa-money-bill-wave fa-2x"></i>
                                    <p>Cash on delivery</p>
                                </div>
                                <div class="col-md-4 text-danger text-center p-2">
                                    <i class="fa-solid fa-rotate-left fa-2x"></i>
                                    <p>Return product</p>
                                </div>
                                <div class="col-md-4 text-primary text-center p-2">
                                    <i class="fa-solid fa-truck fa-2x"></i>
                                    <p>Free delivery</p>
                                </div>
                            </div>
                            <th:block th:if="${product.stock>0}">
                                    <a class="btn btn-warning col-md-12" href="/login">Add to cart</a>
                                </th:block>
                                <th:block th:unless="${product.stock>0}">
                                    <a class="btn btn-danger col-md-12" href="#">Out of stock</a>
                                </th:block>
                            
                        </div> 
                    </div>
                </div>
        </div>
    </section>
</body>

</html>